<div sn-modal title-modal="$ctrl.viewStrings.titleModal" open="$ctrl.open">
  <article>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 stack-ss {{::$ctrl.styles['event-entry']}}" ng-repeat="(key, val) in $ctrl.data">
      <span class="col-xl-5 col-lg-5 col-md-5 col-sm-5 {{::$ctrl.styles['event-entry__title']}}">{{
        $ctrl.viewStrings[key] }}</span>
      <span class="col-xl-7 col-lg-7 col-md-7 col-sm-7">{{ val }}</span>
    </div>
  </article>
  <article>
    <div class="row {{::$ctrl.styles['blueHeader']}}">Remediation</div>
    <div class="col-xl-2 col-lg-4 col-md-3 col-sm-3 stack-ss {{::$ctrl.styles['event-entry']}} row-eq-height pl0 pr0"
      ng-repeat="(keyRemediation, valRemediation) in $ctrl.remediation">
      <div class="col-xl-2 col-lg-4 col-md-3 col-sm-3 verticalAlignEqualHeightColumn">
        <input type="checkbox" class="mt0" ng-model="valRemediation" disabled />
      </div>
      <label class="col-xl-10 col-lg-8 col-md-9 col-sm-9 dashboard_datepicker_text pl0">{{ keyRemediation }}</label>
    </div>
  </article>
  <article ng-if="$ctrl.extrainfo">
    <div class="{{::$ctrl.styles['event-entry__title']}}">Extra Info: </div>
    <pre>
      {{ $ctrl.extrainfo | json}}
    </pre>
  </article>
  <footer>
    <button ng-click="$ctrl.toggleModal()" class="sn-button sn-button--primary">{{$ctrl.viewStrings.cancel}}</button>
    <button ng-click="$ctrl.applyRemediation()" class="sn-button sn-button--primary floatRight">{{$ctrl.viewStrings.apply}}</button>
  </footer>
</div>