<section>
    <div class="page-container mb50 p30">
        <div class="page-content ml0">

            <div class="page-content-wrap">
                <div class="row">

                    <h4 class="sn-uppertitle">{{::$ctrl.viewStrings.title}}</h4>

                    <div class="panel panel-default mt30 m0 shadow_box">

                        <div class="panel-body mp4 w92 p20">

                            <label class="ubi_subtitle"> Security Incidents Summary </label>

                            <div class="separator mt30 mb30"></div>

                            <!-- SELECTS-->
                            <!--<div class="col-xs-6 pl0">-->
                            <article style="padding-bottom: 50px">
                                <div class="col-xs-6 pl0" style="display:inline-flex" ng-if="isAdmin">
                                <label class="dashboard_datepicker_text">Tenants:</label>
                                <select id="tenants" ng-model="selected_tenant" ng-change="onTenantChange(this)"
                                class="filter_selects" ng-options="tenant.tenant_id as tenant.tenant_name for tenant in tenants_list">>
                                <!--<option ng-repeat="tenant in tenants_list" >{{tenant.tenant_name}}</option>-->
                                </select>
                                </div>

                                <!--<div class="col-xs-6" style="display:inline-flex">-->
                                <!--<label class="dashboard_datepicker_text">Period:</label>-->
                                <!--<select id="period" ng-model="selected_period" class="filter_selects"-->
                                <!--ng-change="$ctrl.setPeriod()">-->
                                <!--<option value="0">Today</option>-->
                                <!--<option value="1">Yesterday</option>-->
                                <!--<option ng-selected="true" value="2">Last Week</option>-->
                                <!--<option value="3">Last Month</option>-->
                                <!--<option value="4">Last Semester</option>-->
                                <!--<option value="5">Last Year</option>-->
                                <!--</select>-->
                                <!--</div>-->

                                <!--</div>-->

                                <div class="col-xs-4 pl0" style="display:inline-flex">
                                    <label class="dashboard_datepicker_text">Period:</label>
                                    <select id="period" ng-model="selected_period" class="filter_selects"
                                            ng-change="$ctrl.setPeriod()">
                                        <option ng-selected="true" value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="2">Last Week</option>
                                        <!--<option value="3">Last Month</option>
                                        <option value="4">Last Semester</option>
                                        <option value="5">Last Year</option>-->
                                    </select>
                                </div>
                            </article>

                            <!-- DATEPICKERS
                            <div class="col-xs-8 pr0">

                                <div class="col-xs-6 pl0" style="display:inline-flex">
                                    <label class="dashboard_datepicker_text">From:</label>
                                    <div class="input-group" style="height:40px">
                                        <input id="start" class="form-control input-group-header" type="datetime-local"
                                               style="height:40px" ng-model="start_date" min="" max="start_max_date">
                                        <div class="input-group-btn input-group-calendar">
                                            <button class="btn" style="line-height:24px">
                                                <i class="glyphicon glyphicon-calendar input-group-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6" style="display:inline-flex">
                                    <label class="dashboard_datepicker_text">To:</label>
                                    <div class="input-group" style="height:40px;width:60%">
                                        <input id="end" class="form-control input-group-header" type="datetime-local"
                                               style="height:40px" ng-model="end_date" min="end_min_date" max="">
                                        <div class="input-group-btn input-group-calendar">
                                            <button class="btn" style="line-height:24px">
                                                <i class="glyphicon glyphicon-calendar input-group-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- NUMBER OF ATTACKS-->
                            <div class="col-xs-12 col-lg-6 pl0 mt30">
                                <div class="chart_holder">
                                    <div class="bg_partial" style="height:36px">
                                        <label class="m5" style="height:26px">Number of attacks</label>
                                    </div>
                                    <div id="chart_attacks" class="text-center p20"></div>
                                </div>
                            </div>

                            <!-- ATTACKS OCURRENCE-->
                            <div class="col-xs-12 col-lg-6 pr0 mt30">
                                <div class="chart_holder">
                                    <div class="bg_partial" style="height:36px">
                                        <label class="m5" style="height:26px">Attacks ocurrence</label>
                                    </div>

                                    <svg id="chart_ocurrences" class="text-center p20"></svg>
                                </div>
                            </div>

                            <!-- TABLE -->
                            <div class="col-xs-12 p0 mt30 mb20">

                                <table class="table mt15">
                                    <thead class="table__header">
                                    <tr class="bg_partial">
                                        <th class="text">Type</th>
                                        <th class="text">Severity</th>
                                        <th class="text">Date</th>
                                        <th class="text">Duration</th>
                                        <th class="text">Destination Port</th>
                                        <th class="text">Destination IP</th>
                                        <th class="text">Protocol</th>
                                        <th class="text">Client</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="attacks.results[0].series" style="height:48px"
                                        ng-repeat="value in attacks.results[0].series[0].values">
                                        <td>{{value[1]}}</td>
                                        <td>{{value[13]}}</td>
                                        <td>{{value[0]}}</td>
                                        <td>{{value[5]}}</td>
                                        <td>{{value[3]}}</td>
                                        <td>{{value[4]}}</td>
                                        <td>{{value[10]}}</td>
                                        <td>{{value[15]}}</td>
                                    </tr>
                                    <tr ng-show="!attacks.results[0].series">
                                        <td class="text text-center" colspan="8">No data available</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="col-xs-12 p0">

                                    <label ng-show="total_attacks>0 && (10*table_page+10 <= total_attacks)"
                                           class="text">Showing
                                        {{10*table_page+1}} to {{10*table_page+10}} of attack
                                        {{total_attacks}}</label>
                                    <label ng-show="total_attacks>0 && (10*table_page+10 > total_attacks)" class="text">Showing
                                        {{10*table_page+1}} to {{total_attacks}} of attack {{total_attacks}}</label>

                                    <div class="btn-group pull-right">
                                        <button class="btn btn-default mr10" ng-click="$ctrl.setPage(false)"
                                                ng-disabled="table_page===0"><
                                        </button>
                                        <button class="btn btn-default" ng-click="$ctrl.setPage(true)"
                                                ng-disabled="table_page+1===table_total_pages">>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
