<section>
  <h4 class="sn-uppertitle">{{::$ctrl.viewStrings.title}}</h4>
  <div class="sn-card">
    <header class="sn-card__header">
      <h5 class="header__title">{{::$ctrl.viewStrings.tableTitle}}</h5>
    </header>
    <s-table
      items="$ctrl.items"
      headers="$ctrl.tableHeaders"
      loading="$ctrl.loading"
    ></s-table>

    <div sn-modal title="$ctrl.viewStrings.modalDeleteTitle" open="$ctrl.deleteOpen">
      <article class="row">
        <div class="col-xs-12">
          {{::$ctrl.viewStrings.confirmDelete}}
          <span class="delete-modal--target">{{$ctrl.selectedNotif._id}}</span>?
        </div>
      </article>
      <footer class="row">
        <div class="col-xs-12">
          <button class="sn-button" ng-click="$ctrl.toggleDeleteModal()">{{$ctrl.viewStrings.cancel}}</button>
          <button class="sn-button sn-button--delete" ng-click="$ctrl.deleteNotifications()">{{$ctrl.viewStrings.delete}}</button>
        </div>
      </footer>
    </div>
</section>