<section class="col-lg-12 pl0 pr0">
  <div class="col-lg-12 pl0 pr0 mb5 {{::$ctrl.styles.label}}">
    <label class="col-xl-3 col-lg-3 col-md-3 col-sm-3 {{::$ctrl.styles.label__text}}">{{::$ctrl.label}}</label>
    <input readonly="readonly" class="col-xl-9 col-lg-9 col-md-9 col-sm-9 {{::$ctrl.styles.input}}" ng-click="$ctrl.openDatetimePicker()" ng-model="$ctrl.showDate">
  </div>
  <div class="angularjs-datetime-picker" ng-show="$ctrl.openPicker">
    <header class="adp-month">
      <button class="adp-prev" ng-click="$ctrl.addMonth(-1)">&laquo;</button>
      <span title="{{$ctrl.calendar.months[mv.month].fullName}}">{{$ctrl.calendar.months[$ctrl.mv.month].shortName}}</span>
      {{$ctrl.mv.year}}
      <button type="button" class="adp-next" ng-click="$ctrl.addMonth(1)">&raquo;</button>
    </header>
    <div class="adp-days">
      <div class="adp-day-of-week" ng-repeat="dayOfWeek in ::$ctrl.calendar.daysOfWeek" title="{{dayOfWeek.fullName}}">{{::dayOfWeek.firstLetter}}</div>
      <div class="adp-day" ng-show="$ctrl.mv.leadingDays.length < 7" ng-repeat="day in $ctrl.mv.leadingDays">{{::day}}</div>
      <div class="adp-day" ng-repeat="day in $ctrl.mv.days" ng-click="$ctrl.setDate(day)" today="{{$ctrl.today}}" d2="`${$ctrl.mv.year}-${$ctrl.mv.month + 1}-${day}`"
        ng-class="{ 
          selectable: $ctrl.isDateSelectable(day, $ctrl.mv.month, $ctrl.mv.year),
          selected: (day == $ctrl.selectedDay),
          today: ($ctrl.today == $ctrl.getTemplateString()),
           weekend: ($ctrl.mv.leadingDays.length + day)%7 == 1 || ($ctrl.mv.leadingDays.length + day)%7 == 0
         }">{{::day}}</div>
      <div class="adp-day" ng-show="$ctrl.mv.trailingDays.length < 7" ng-repeat="day in $ctrl.mv.trailingDays">{{::day}}</div>
    </div>
    <div class="adp-days" id="adp-time">
      <span class="timeLabel">Time:</span> <span class="timeValue">{{("0"+$ctrl.inputHour).slice(-2)}} :
        {{("0"+$ctrl.inputMinute).slice(-2)}}</span><br />
      <span class="hourLabel">Hour:</span> <input class="hourInput" type="range" min="0" max="23" ng-model="$ctrl.inputHour"
        ng-change="$ctrl.setDate($ctrl.selectedDay)" />
      <span class="minutesLabel">Min:</span> <input class="minutesInput" type="range" min="0" max="59" ng-model="$ctrl.inputMinute"
        ng-change="$ctrl.setDate($ctrl.selectedDay)" />
    </div>
    <footer class="{{::$ctrl.styles.footer}}">
      <button class="{{::$ctrl.styles.button}}" ng-click="$ctrl.change()">ok</button>
    </footer>
  </div>
</section>