<section>
  <h4 class="sn-uppertitle">{{::$ctrl.strings.title}}</h4>
  <div class="sn-card" auto-resizer>
    <header class="sn-card__header">
      <h5 class="header__title">{{::$ctrl.tableConf.title}}</h5>
      <button ng-click="$ctrl.createTenant()" class="sn-button sn-button--primary">{{$ctrl.strings.create}}</button>
    </header>
    <s-table
      headers="$ctrl.headers"
      items="$ctrl.items"
    ></sn-table>
  </div>

  <div sn-modal title="$ctrl.strings.modalCreateTitle" open="$ctrl.createOpen">
      <article class="row">
        <div class="col-xs-12">
          <sn-input field-label="username"></sn-input>
        </div>
      </article>
      <footer class="row">
        <div class="col-xs-12">
          <button ng-click="$ctrl.toggleCreate()" class="sn-button">{{$ctrl.strings.cancel}}</button>
          <button ng-click="$ctrl.createUser()" class="sn-button sn-button--primary">{{$ctrl.strings.create}}</button>
        </div>
      </footer>
    </div>

    <div sn-modal title="$ctrl.strings.modalDeleteTitle" open="$ctrl.deleteOpen">
        <article class="row">
          <div class="col-xs-12">
            {{::$ctrl.strings.confirmDelete}}
          </div>
        </article>
        <footer class="row">
          <div class="col-xs-12">
            <button class="sn-button" ng-click="$ctrl.toggleDelete()">{{$ctrl.strings.cancel}}</button>
            <button class="sn-button sn-button--delete" ng-click="$ctrl.deleteUser()">{{$ctrl.strings.delete}}</button>
          </div>
        </footer>
      </div>

</section>