@import '~styleglobals/colors';
$menu-logo-height: 60px;
$menu-item-height: 35px;
.menu {
  background: $color-gradient-blue-dark;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  height: 100vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.logo {
  height: $menu-logo-height;
  background-color: $color-white;
  text-align: center;
  padding-top: 12px;
}

.section {
  height: 40px;
  line-height: 45px;
  color: #fff;
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.25);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  .item {
    border-bottom: 1px solid $color-blue-dark;
    color: $color-white;
    min-height: $menu-item-height;
    cursor: pointer;
    transition: background-color 0.2s;
    .item__label {
      color: $color-white;
      line-height: $menu-item-height;
      font-size: 13px;
      padding-left: 30px;
      text-decoration: none;
      height: 35px;
      display: inline-block;
      width: 100%;
      .glyphicon {
        font-size: 10px;
      }
    }
    .item--active {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &__accordion {
    max-height: 0;
    transition: max-height 0.2s;
    background-color: $color-purple-dark;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .accordion__item {
      height: 30px;
      box-shadow: inset 0 1px 0 0 $color-app-titles;
      line-height: 30px;
      padding-left: 60px;
      font-family: "OpenSans";
      font-size: 12px;
      font-weight: 600;
      color: $color-light-grey;
    }
    &Open {
      max-height: 200px;
    }
  }
}

.profile {
  height: $menu-item-height;
  color: $color-light-grey;
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 600;
  line-height: $menu-item-height;
  color: $color-white;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 100;

  .container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  &__user {
    display: inline-block;
    padding-left: 30px;
    font-family: Orbitron;
    font-size: 14px;
    font-weight: bold;
  }

  &__menu {
    position: absolute;
    bottom: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
  }

  &__item {
    padding-left: 30px;
    box-shadow: inset 0 1px 0 0 $color-app-titles;
    line-height: $menu-item-height;
  }

  &__menuOpen {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__actions {
    text-align: center;
    font-size: 18px;
    width: 60px;
    height: 35px;
    display: inline-block;
  }

  &__actionsActive {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 0 0 0 $color-app-titles;

    & > * {
      transform: rotate(135deg) !important;
      top: 16px !important;
    }
  }
}

.sn-sidenav {
  background-color: $color-purple-dark;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  height: 100vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  &__brand {
    height: $menu-logo-height;
    background-color: $color-white;
    text-align: center;
    padding-top: 15px;
  }
  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    .menu__item {
      border-bottom: 1px solid $color-blue-dark;
      color: $color-white;
      min-height: $menu-item-height;
      cursor: pointer;
      .item__label {
        color: $color-white;
        line-height: $menu-item-height;
        font-size: 13px;
        padding-left: 30px;
        text-decoration: none;
        .glyphicon {
          font-size: 10px;
          top: 3px;
          left: 5px;
        }
      }
    }
    .menu__item--active {
      background: $color-purple-tint;
    }
    .menu__accordion {
      max-height: 0;
      transition: max-height 0.2s;
      background-color: $color-purple-dark;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      .accordion__item {
        height: 30px;
        box-shadow: inset 0 1px 0 0 $color-app-titles;
        line-height: 30px;
        padding-left: 60px;
        font-family: "OpenSans";
        font-size: 12px;
        font-weight: 600;
        color: $color-white;
      }
    }
    .menu__accordion--open {
      max-height: 200px;
    }
  }
  &__sub-section {
    height: 40px;
    line-height: 45px;
    color: $color-app-primary;
    font-family: 'OpenSans';
    font-size: 12px;
    font-weight: 600;
    padding-left: 30px;
    border-bottom: 1px solid $color-menu-shade;
  }
  &__profile {
    height: $menu-item-height;
    color: $color-white;
    background-color: $color-menu-bg;
    position: absolute;
    width: 100%;
    bottom: 2px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    font-family: "OpenSans";
    font-size: 13px;
    font-weight: 600;
    line-height: $menu-item-height;
    color: $color-white;
    cursor: pointer;
    z-index: 100;
    .profile__container {
      overflow: hidden;
    }
    .profile__user {
      width: calc(100% - 65px);
      display: inline-block;
      padding-left: 30px;
    }
    .profile__menu {
      position: absolute;
      bottom: 35px;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: $color-menu-bg;
      &__item {
        padding-left: 30px;
        box-shadow: inset 0 1px 0 0 $color-app-titles;
        line-height: $menu-item-height;
        background-color: $color-menu-tint-b;
      }
    }
    .profile__menu--closed {
      display: none;
    }
    .profile__actions {
      text-align: center;
      font-size: 18px;
      width: 60px;
      height: 35px;
      background-color: $color-menu-bg;
      display: inline-block;
      &:hover {
        background-color: $color-menu-tint;
        box-shadow: inset 1px 0 0 0 $color-app-titles;
      }
    }
    .profile__actions--active {
      background-color: $color-menu-tint-b;
      box-shadow: inset 1px 0 0 0 $color-app-titles;
    }
  }
}

.downicon {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 2px solid #CCCCCC;
  border-top: none;
  border-right: none;
  transform: scaleX(-1) scaleY(-1) rotate(135deg);
  position: relative;
  top: 10px;
  left: 24px;
}

@mixin menu--sm() {
  .sn-sidenav {
    &__menu {
      .menu__item {
        min-height: 35px;
      }
    }
  }
}

@mixin menu--lg() {
  .sn-sidenav {
    &__menu {
      .menu__item {
        min-height: 40px;
      }
    }
  }
}

@media (min-height: 500px) {
  @include menu--sm();
}

@media (min-height: 800px) {
  @include menu--lg();
}