<nav class="{{::$ctrl.styles.menu}}">
    <div class="{{::$ctrl.styles.logo}}">
        <img src="../../resources/images/shield-logo.svg" alt="">
    </div>
     <!-- <div class="{{::$ctrl.styles.section}}">
        <span >{{$ctrl.user.tenant.name}}</span>
    </div> -->
    <ul class="{{::$ctrl.styles.list}}">
        <li class="{{::$ctrl.styles.list__item}}" ng-repeat="option in $ctrl.mainOptions">
            <a ui-sref="{{option.route}}" ui-sref-active="{{::$ctrl.styles.list__itemActive}}" class="{{::$ctrl.styles.item__label}}"><i class="glyphicon glyphicon-th-large"></i>{{option.label}}</span>
        </li>
    </ul>
    <div ng-if="$ctrl.isAdmin()">
        <!-- <div class="{{::$ctrl.styles.section}}">
            <span >{{$ctrl.globalLabel}}</span>
        </div> -->
        <ul class="{{::$ctrl.styles.list}}">
            <li  ng-click="option === 'Catalogue' ? $ctrl.toggleSubMenu() : $ctrl.changeState(option); $event.stopPropagation();" class="{{::$ctrl.styles.list__item}}" ng-repeat="option in $ctrl.globalOptions">
                <span class="{{::$ctrl.styles.item__label}}">
                    <i class="glyphicon glyphicon-th-large"></i>{{option}}
                </span>
                <i ng-if="option === 'Catalogue'" class="{{::$ctrl.styles.glyphicon}} glyphicon" ng-class="{'glyphicon-chevron-down': !$ctrl.isOpen, 'glyphicon-chevron-up': $ctrl.isOpen}"></i>
                <ul class="{{::$ctrl.styles.list__accordion}}" ng-class="{'{{$ctrl.styles.list__accordionOpen}}': $ctrl.isOpen}" ng-if="option === 'Catalogue'">
                    <li class="{{::$ctrl.styles.accordion__item}}" ui-sref="appslist({type:'VNF'})">{{::$ctrl.catalogue.vnfapps}}</li>
                    <li class="{{::$ctrl.styles.accordion__item}}" ui-sref="appslist({type:'SDN_APP'})">{{::$ctrl.catalogue.sdnapps}}</li>
                    <li class="{{::$ctrl.styles.accordion__item}}" ui-sref="appslist({type:'SDN_CTRL_APP'})">{{::$ctrl.catalogue.sdnctrlapps}}</li>
                    <li class="{{::$ctrl.styles.accordion__item}}" ui-sref="appslist({type:'PNF'})">{{::$ctrl.catalogue.pnfapps}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="{{::$ctrl.styles.profile}}">
        <ul class="{{::$ctrl.styles.profile__menu}}" ng-class="{'{{$ctrl.styles.profile__menuClosed}}': !$ctrl.userOptionsOpen}">
            <li class="{{::$ctrl.styles.profile__item}}">{{::$ctrl.strings.profile.options.changepass}}</li>
            <li class="{{::$ctrl.styles.profile__item}}" ng-click="$ctrl.logout()">{{::$ctrl.strings.profile.options.logout}}</li>
        </ul>
        <div class="{{::$ctrl.styles.container}}">
            <div class="{{::$ctrl.styles.profile__user}}">
                <span>username</span>
            </div>
            <div class="{{::$ctrl.styles.profile__actions}}" ng-class="{'{{$ctrl.styles.profile__actionsActive}}': $ctrl.userOptionsOpen}">
                <div class="{{::$ctrl.styles.downicon}}"></div>
            </div>
        </div>
    </div>
</nav>