<div
  sn-modal
  open="$ctrl.modalOpen"
  title="$ctrl.viewStrings.modalTitle"
>
  <article class="{{::$ctrl.styles.scroller}}">
    <div
      ng-repeat="(key, val) in $ctrl.modalEntries"
      class="{{::$ctrl.styles['event-entry']}}"
    >
      <span class="{{::$ctrl.styles['event-entry__title']}}">{{ val }}</span>
      <span>{{ $ctrl.data[key] }}</span>
    </div>
    <h5 class="{{::$ctrl.styles['modal-title']}}">{{::$ctrl.viewStrings.modalSubtitle}}</h5>
    <div class="{{::$ctrl.styles.xmlviewer}}">
        {{$ctrl.data.recommendation}}
      </div>
  </article>
  <footer class="{{::$ctrl.styles.footer}}">
    <button
      class="{{::$ctrl.styles.button}}"
      ng-click="$ctrl.toggleIncidentModal()"
    >{{::$ctrl.viewStrings.close}}</button>
    <button
      ng-if="$ctrl.data.status && $ctrl.data.status !== 'Applied'"
      class="{{::$ctrl.styles.button}}"
      ng-click="$ctrl.applyRecommendation()"
    >{{::$ctrl.viewStrings.apply}}</button>
  </footer>
</div>