<section>
  <h4 class="sn-uppertitle">{{::$ctrl.viewStrings.title}}</h4>
  <div class="sn-card" auto-resizer>
    <header class="sn-card__header">
      <h5 class="header__title">{{::$ctrl.viewStrings.tableTitle}}</h5>
    </header>
    <s-table headers="$ctrl.headers" items="$ctrl.items" loading="$ctrl.isLoading" buttonclicked="$ctrl.buttonClicked"></s-table>
    <div ng-if="!$ctrl.showTableAdmin" style="text-align: right; margin-top: 6px; margin-bottom: 16px;">
      <button class="{{$ctrl.styles['prev-button']}}" ng-click="$ctrl.changePage(-1)"></button>
      <button class="{{$ctrl.styles['next-button']}}" ng-click="$ctrl.changePage(1)"></button>
      <span class="sn-table__footer">
        Showing {{$ctrl.paging.page}} to {{$ctrl.paging.totalPage}} of {{$ctrl.paging.total}}
      </span>
    </div>
    <!-- Modal Upload -->
    <sn-upload-box on-submit="$ctrl.uploadApp($event.file)"></sn-upload-box>
    <!-- Modal Details -->
    <div sn-modal open="$ctrl.detailsOpen" title-modal="$ctrl.viewStrings.modalTitle">
      <article class="{{::$ctrl.styles.scroller}}">
        <div class="{{::$ctrl.styles.entrygroup}}">
          <div ng-repeat="(key, val) in $ctrl.modalEntries" class="{{::$ctrl.styles.entry}}">
            <span class="{{::$ctrl.styles.label}}">{{ val }}</span>
            <span class="{{::$ctrl.styles.entry__text}}">{{ $ctrl.ns[key] }}</span>
          </div>
          <div class="{{::$ctrl.styles.entry}}">
            <span class="{{::$ctrl.styles.label}}">{{ $ctrl.viewStrings.validations }}</span>
            <a ui-sref="validation({id: $ctrl.ns.validation })" class="{{::$ctrl.styles.entry__text}}">{{
              $ctrl.ns.validation }}</a>
          </div>
        </div>
        <div collapsible>
          <h5 class="{{::$ctrl.styles.header}}">{{::$ctrl.viewStrings.modalTitle2}}</h5>
          <div class="{{::$ctrl.styles.xmlviewer}}">
            {{$ctrl.ns.descriptor}}
          </div>
        </div>
      </article>
      <footer class="{{::$ctrl.styles.footer}}">
        <button ng-click="$ctrl.toggleDetailsModal()" class="{{::$ctrl.styles.button}}">{{ ::$ctrl.viewStrings.close }}</button>
      </footer>
    </div>
    <!-- Modal Delete -->
    <div sn-modal title-modal="$ctrl.viewStrings.deleteModalTitle" open="$ctrl.deleteModalOpen">
      <article>
        {{::$ctrl.viewStrings.confirmDelete}}
        <span class="delete-modal--target">{{$ctrl.ns.ns_name}}</span> ({{$ctrl.ns._id}})?
      </article>
      <footer class="inset-ss text-right">
        <button class="sn-button inline-ss" ng-click="$ctrl.toggleDeleteModal()">{{::$ctrl.viewStrings.cancelButton}}</button>
        <button class="sn-button sn-button--delete" ng-click="$ctrl.deleteNs()">{{::$ctrl.viewStrings.deleteButton}}</button>
      </footer>
    </div>
  </div>
</section>