/*
  IMPORTANT: !!! DO NOT CHANGE IT MANUALLY !!! This file gets updated by an external tool.
*/

export const PORT = ${BACKENDAPI_PORT};
export const STORE_PORT = ${VNSF_STORE_PORT};
export const SOCKET_PORT = ${SKT_PORT};
