#  Copyright (c) 2017 SHIELD, UBIWHERE
# ALL RIGHTS RESERVED.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Neither the name of the SHIELD, UBIWHERE nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# This work has been performed in the framework of the SHIELD project,
# funded by the European Commission under Grant number 700199 through the
# Horizon 2020 program. The authors would like to acknowledge the contributions
# of their colleagues of the SHIELD partner consortium (www.shield-h2020.eu).


version:             '3.3'

services:

    # Reverse Proxy.
    ${CNTR_REVPROXY}:
        env_file:        ${ENV_FILE}
        build:
          context:       .
          dockerfile:    ${DOCKER_FILE_REVPROXY}
        ports:
            - "${DASHBOARD_GUI_PORT_WEB}:${DASHBOARD_GUI_PORT_WEB}"
            - "${MSGQ_PORT}:${MSGQ_PORT}"
            - "${DATASTORE_PORT}:${DATASTORE_PORT}"
            - "${BACKENDAPI_PORT}:${BACKENDAPI_PORT}"
            - "${SKT_PORT}:${SKT_PORT}"
        volumes:
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}


    # Message Queue.
    ${CNTR_MSGQ}:
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_MSGQ}
        ports:
            - "15672:15672" # Management


    ${CNTR_AAA_DB}:
        image: mysql:5.7
        labels:
          - "project=${CNTR_PROJECT}"
        ports:
          - ${AAA_DB_PORT}:${AAA_DB_PORT}
        environment:
          MYSQL_ROOT_PASSWORD: ${AAA_DB_ADMIN_PASS}
        volumes:
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}

    ${CNTR_AAA}:
        depends_on:
          - ${CNTR_AAA_DB}
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_AAA}
        links:
          - ${CNTR_AAA_DB}:mysql
        ports:
          - ${AAA_ADMIN_PORT}:${AAA_ADMIN_PORT}
          - ${AAA_PORT}:${AAA_PORT}


    # Data Store.
    ${CNTR_DATASTORE}:
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_DATASTORE}
        volumes:
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}

    ${CNTR_INFLUX}:
        image: influxdb:1.5.4
        env_file:
          - ${ENV_FILE}
        volumes:
          - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}
        ports:
          - ${INFLUXDB_PORT}:${INFLUXDB_PORT}

    ${CNTR_CHRONOGRAF}:
        image: chronograf:1.5
        volumes:
          - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}
        command: --influxdb-url=${INFLUXDB_PROTOCOL}://${CNTR_INFLUX}:${INFLUXDB_PORT} --influxdb-username=${INFLUXDB_ADMIN_USER} --influxdb-password=${INFLUXDB_ADMIN_PASSWORD} --kapacitor-url=http://${CNTR_KAPACITOR}:9092 --kapacitor-username=${KAPACITOR_USER} --kapacitor-password=${KAPACITOR_USER_PASSWORD}
        ports:
          - "4000:8888"

    ${CNTR_KAPACITOR}:
        image: kapacitor:1.4.1
        env_file:
          - ${ENV_FILE}
        volumes:
          - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}
        ports:
          - "9092:9092"

    # Dashboard API.
    ${CNTR_DASHBOARD_API}:
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_DASHBOARD_API}
        volumes:
            # Docker environment files.
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}

            # Source files.
            - ${SHARED_FOLDER_DEV_API}:${CNTR_FOLDER_DEV_API}
        command:         python3.6 api.py


    # Dashboard Message Queue.
    ${CNTR_DASHBOARD_Q}:
        env_file:        ${ENV_FILE}
        build:
          context:       .
          dockerfile:    ${DOCKER_FILE_DASHBOARD_Q}
        volumes:
            # Docker environment files.
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}

            # Source files.
            - ${SHARED_FOLDER_DEV_Q}:${CNTR_FOLDER_DEV_Q}
        command:         python3.6 dare_policy_pipe.py


    # Dashboard GUI.
    ${CNTR_DASHBOARD_GUI}:
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_DASHBOARD_GUI}
        volumes:
            # Docker environment files.
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}

            # Source files.
            - ${SHARED_FOLDER_DEV_GUI}:${CNTR_FOLDER_DEV_GUI}
        command:         http-server -p ${DASHBOARD_GUI_PORT} ${CNTR_FOLDER_DEV_GUI}/${DASHBOARD_GUI_ENV}
