<section>
  <h4 class="sn-uppertitle">{{::$ctrl.viewStrings.title}}</h4>
  <div class="sn-card" auto-resizer>
    <header class="sn-card__header">
      <h5 class="header__title">{{::$ctrl.viewStrings.tableTitle}}</h5>
      <button ng-if="!$ctrl.isPlatformAdmin" ng-click="$ctrl.toggleCreate()" class="sn-button sn-button--primary">{{$ctrl.viewStrings.create}}</button>
    </header>
    <s-table
      items="$ctrl.users"
      headers="$ctrl.tableHeaders"
      loading="$ctrl.loading"
    ></s-table>
  </div>

  <div sn-modal title="$ctrl.isCreate ? $ctrl.viewStrings.modalCreateTitle : $ctrl.viewStrings.modalUpdateTitle" open="$ctrl.createOpen">
    <article class="row">
      <div class="col-xs-6 stack-m">
        <sn-input
          field-label="name"
          on-update="$ctrl.setNewUser('name', $event.value)"
          field-value="$ctrl.newUser.name"
        ></sn-input>
      </div>
      <div class="col-xs-6 stack-m">
        <sn-input
          field-label="email"
          on-update="$ctrl.setNewUser('email', $event.value)"
          field-value="$ctrl.newUser.email"
        ></sn-input>
      </div>
      <div class="col-xs-12 stack-m">
        <sn-input
          field-label="Description"
          field-type="text"
          on-update="$ctrl.setNewUser('description', $event.value)"
          field-value="$ctrl.newUser.description"
        ></sn-input>
      </div>
      <div class="col-xs-12 stack-m">
        <sn-input
          field-label="password"
          field-type="password"
          on-update="$ctrl.setNewUser('password', $event.value)"
        ></sn-input>
      </div>
      <div class="col-xs-12 stack-m">
        <sn-input
          field-label="password (confirmation)"
          field-type="password"
        ></sn-input>
      </div>
      <div class="col-xs-12 stack-m">
        <sn-select
          label="'Roles'"
          options="$ctrl.roles"
          on-change="$ctrl.setNewUser('group_id', $event.value)"
          selected="$ctrl.newUser.group_id"
        ></sn-select>
      </div>
      <div ng-if="$ctrl.isSuperAdmin()" class="col-xs-12">
        <sn-select
          label="'Secaas client'"
          options="$ctrl.tenantsOptions"
          on-change="$ctrl.setNewUser('tenant', $event.value)"
          selected="$ctrl.newUser.tenant"
        ></sn-select>
      </div>
      <div class="col-xs-12">
        <sn-input
          field-label="{{'Secaas client'}}"
          field-disabled="true"
          field-value="$ctrl.newUser.tenant"
          on-change="$ctrl.setNewUser('tenant', $event.value)"
        ></sn-input>
      </div>
    </article>
    <footer class="row">
      <div class="col-xs-12">
        <button ng-click="$ctrl.toggleCreate()" class="sn-button">{{$ctrl.viewStrings.cancel}}</button>
        <button ng-click="$ctrl.createOrUpdateUser()" class="sn-button sn-button--primary">{{ $ctrl.isCreate ? $ctrl.viewStrings.create : $ctrl.viewStrings.update }}</button>
      </div>
    </footer>
  </div>

  <div sn-modal title="$ctrl.viewStrings.modalDeleteTitle" open="$ctrl.deleteOpen">
    <article class="row">
      <div class="col-xs-12">
        {{::$ctrl.viewStrings.confirmDelete}}
        <span class="delete-modal--target">{{$ctrl.selectedUser.name}}</span>?
      </div>
    </article>
    <footer class="row">
      <div class="col-xs-12">
        <button class="sn-button" ng-click="$ctrl.toggleDeleteModal()">{{$ctrl.viewStrings.cancel}}</button>
        <button class="sn-button sn-button--delete" ng-click="$ctrl.deleteUser()">{{$ctrl.viewStrings.delete}}</button>
      </div>
    </footer>
  </div>

</section>