@import '~styleglobals/colors';

.base {
    display: inline-block;
}

.label {
    margin: 0;
    font-family: 'OpenSans';
    color: $color-medium-grey;
    font-size: 12px;
    line-height: 40px;
    width: 100%;
    display: flex;
}

.input {
    border: 1px solid $color-medium-grey;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
    line-height: 20px;
    background: url('../../../resources/images/icons/ic-search.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    flex-grow: 100;
    box-sizing: border-box;
}