// CARDS
$card-border-radius: 4px;

// LOGIN fORM
$login-padding: 20px;

// INPUTS
$input-height: 40px;
$input-border-radius: 4px;
$input-font-size: 14px;
$input-line-height: 19px;

// LOGIN INPUTS
$login-input-height: 52px;
$login-input-margin-bottom: 15px;
$login-input-padding: 15px;

// BUTTONS
$button-height: 40px;
$button-border-radius: 4px;

// LOGIN BUTTONS
$login-button-height: 55px;

// MENU
$menu-logo-height: 80px;
$menu-item-height: 35px;
