<section>
  <h4 class="sn-uppertitle">{{ ::$ctrl.viewStrings.title }}</h4>
  <div auto-resizer class="sn-card">
    <header class="sn-card__header">
      <h5 class="header__title">{{ ::$ctrl.viewStrings.tableTitle }}</h5>
      <button ng-click="$ctrl.toggleFileUploadModal()" class="sn-button sn-button--primary">{{ ::$ctrl.viewStrings.button }}</button>
    </header>
    <s-table
      items="$ctrl.items"
      headers="$ctrl.tableHeaders"
    ></s-table>
  </div>

  <sn-upload-box on-submit="$ctrl.uploadApp($event.file)"></sn-upload-box>

  <div sn-modal title="$ctrl.viewStrings.modalTitle" open="$ctrl.modalOpen">
    <article class="{{::$ctrl.styles.scroller}}">
      <div class="{{::$ctrl.styles.entrygroup}}">
        <div class={{::$ctrl.styles.entry}} ng-repeat="(key, val) in $ctrl.viewStrings.modalHeaders">
          <span class="{{::$ctrl.styles.label}}">{{ val }}</span>
          <span class="{{::$ctrl.styles.entry__text}}">{{ $ctrl.currVnsf[key] }}</span>
        </div>
      </div>
      <div collapsible>
        <h5 class="{{::$ctrl.styles.header}}">{{::$ctrl.viewStrings.modalTitle2}}</h5>
        <div class="{{::$ctrl.styles.xmlviewer}}">
          {{$ctrl.currVnsf.descriptor}}
        </div>
      </div>
      <div collapsible>
        <h5 class="{{::$ctrl.styles.header}}">{{::$ctrl.viewStrings.modalTitle3}}</h5>
        <div class="{{::$ctrl.styles.xmlviewer}}">
          {{$ctrl.prettyJSON($ctrl.currVnsf.security)}}
        </div>
      </div>
    </article>
    <footer class="{{::$ctrl.styles.footer}}">
      <button
        class="{{::$ctrl.styles.button}}"
        ng-click="$ctrl.toggleVNSFDetails()"
      >{{::$ctrl.viewStrings.close}}</button>
    </footer>
  </div>
</section>