<section>
	<h4 class="sn-uppertitle">{{::$ctrl.viewStrings.title}}</h4>
	<div class="sn-card" auto-resizer>
		<header class="sn-card__header">
			<h5 class="header__title">{{::$ctrl.viewStrings.tableTitle}}</h5>
		</header>
		<table-custom-actions 
			headers="$ctrl.headers" 
			items="$ctrl.items" 
			loading="$ctrl.isLoading" 
			buttonclicked="$ctrl.buttonClicked"
		>
		</table-custom-actions>
		<div style="text-align: right; margin-top: 16px;" ng-if="$ctrl.items.length">
        <button class="{{$ctrl.styles['prev-button']}}" ng-click="$ctrl.changePage(-1)"></button>
        <button class="{{$ctrl.styles['next-button']}}" ng-click="$ctrl.changePage(1)"></button>
        <span class="sn-table__footer">
					Showing {{$ctrl.paging.page}} to {{$ctrl.paging.totalPage}} of {{$ctrl.paging.total}}
        </span> 
      </div>
		<!-- Modal -->
		<div 
			sn-modal 
			open="$ctrl.modalOpen" 
			title-modal="$ctrl.viewStrings.modalTitle"
		>
			<article>
				<div class="{{::$ctrl.styles.entrygroup}}">
					<div 
						ng-repeat="(key, val) in $ctrl.modalEntries" 
						class="{{::$ctrl.styles.entry}}">
						<span class="{{::$ctrl.styles.label}}">{{ val }}</span>
						<span class="{{::$ctrl.styles.entry__text}}">{{ $ctrl.ns[key] }}</span>
					</div>
				</div>
				<div 
					class="{{::$ctrl.styles.entry}}" 
					ng-if="$ctrl.ns['descriptor']"
				>
					<div class="{{::$ctrl.styles.label}}">Description</div>
					<pre>
						{{ $ctrl.prettyYAML($ctrl.ns['descriptor']) }}
					</pre>
				</div>
			</article>
			<footer class="{{::$ctrl.styles.footer}}">
				<button 
					ng-click="$ctrl.toggleNSDetails()" 
					class="{{::$ctrl.styles.button}}"
				>
					{{ ::$ctrl.viewStrings.close }}
				</button>
			</footer>
		</div>
	</div>
</section>