@import '~styleglobals/colors';

.event-entry {
    display: flex;
    font-size: 15px;
  
    &__title {
      font-size: 14px;
      display: inline-block;
      width: 40%;
      color: #acacac;
      vertical-align: bottom;
    }
  }
  
  .xmlviewer {
    border: 1px solid #D8D8D8;
    background-color: #F1F0F0;
    padding: 9px;
    color: #22293B;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 19px;
    margin: 12px 0;
    white-space: pre-line;
    word-break: break-all;
  }
  
  .sn-card {
  
    overflow-y: scroll;
  }

  .blueHeader{
    font-size: 20px;
    line-height: 24px;
    color: $color-blue;
    padding: 16px;
    font-family: Orbitron;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;    
  }