@import '~styleglobals/colors';

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  &__header {
    line-height: 36px;
    background-color: $color-white-shade;
    box-shadow: inset 0 -1px 0 0 $color-light-grey;
    border-radius: 4px 4px 0 0;

    .header__text {
      color: $color-medium-grey;
      font-size: 14px;
      font-weight: 400;
      padding: 0 10px;
    }

    th:first-of-type {
      padding-left: 32px;
    }

    th:last-of-type {
      padding-right: 32px;
    }
  }

  &__row {
    height: 48px;
    line-height: 48px;
    box-shadow: inset 0 -1px 0 0 $color-white-shade;
    font-family: "OpenSans";
    font-size: 14px;
    color: rgba($color-black, 0.78);

    .row__cell {
      padding: 0 10px;
    }

      td:first-of-type {
        padding-left: 32px;
      }

      td:last-of-type {
        padding-right: 32px;
      }

    .action-label {
      color: $color-blue;
      cursor: pointer;
      font-weight: 600;
      
      &:hover {
        color: darken($color-blue, 25%);
        text-decoration: underline;
      }
    }
      
    .action-label + .action-label {
      border-left: 1px solid $color-lightest-grey;
      padding-left: 8px;
    }
  }

  &__loading {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    color: rgba(0,76,151,0.3);
    font-family: Orbitron;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    & img {
      width: 64px;
    }
  }

  &__nodata {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #ccc;
    font-family: Orbitron;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }
}

.error {
  color: white;
  &:after {
    content: '!';
    width: 0;
    height: 0;
    display: inline-block;
    color: #fff;
    top: 15px;
    left: -20px;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #b32a2a;
    border-radius: 3px;
  }
}

.warn {
  color: white;
  &:after {
    content: '!';
    width: 0;
    height: 0;
    display: inline-block;
    color: #fff;
    top: 15px;
    left: -20px;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #e0d74e;
    border-radius: 3px;
  }
}

.disabled_actions{
  pointer-events: none!important;
  opacity: 0.5!important;
}