.toast {
  width: 500px !important;
}

.toast-success {
  background-color: $color-app-success !important;
}

.toast-error {
  background-color: $color-app-error !important;
}

.toast-info {
  background-color: $color-app-primary !important;
}

.toast-warning {
  background-color: $color-app-warning !important;
}